USE [master]
GO
/****** Object:  Database [DWB_MDW_COPONIEVE]    Script Date: 6/1/2020 2:42:33 AM ******/
CREATE DATABASE [DWB_MDW_COPONIEVE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWB_MD_COPONIEVE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DWB_MD_COPONIEVE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWB_MD_COPONIEVE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DWB_MD_COPONIEVE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWB_MDW_COPONIEVE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWB_MDW_COPONIEVE]
GO
/****** Object:  Table [dbo].[DimCategoria]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCategoria](
	[idCategoria] [int] NOT NULL,
	[nomCategoria] [varchar](50) NULL,
 CONSTRAINT [PK_DimCategoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCliente]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCliente](
	[idCliente] [int] NOT NULL,
	[nomCliente] [varchar](50) NULL,
	[emailCliente] [varchar](50) NULL,
	[dirCliente] [varchar](50) NULL,
	[idComuna] [int] NULL,
 CONSTRAINT [PK_DimCliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimComuna]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimComuna](
	[idComuna] [int] NOT NULL,
	[nomComuna] [varchar](50) NULL,
	[idRegion] [int] NULL,
 CONSTRAINT [PK_DimComuna] PRIMARY KEY CLUSTERED 
(
	[idComuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMarca]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMarca](
	[idMarca] [int] NOT NULL,
	[nomMarca] [varchar](50) NULL,
 CONSTRAINT [PK_DimMarca] PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMedioPago]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMedioPago](
	[idMedioPago] [int] NOT NULL,
	[nomMedioPago] [varchar](50) NULL,
	[idOrigen] [int] NULL,
 CONSTRAINT [PK_DimMedioPago] PRIMARY KEY CLUSTERED 
(
	[idMedioPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimOrigen]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimOrigen](
	[idOrigen] [int] NOT NULL,
	[nomOrigen] [varchar](50) NULL,
 CONSTRAINT [PK_DimOrigen] PRIMARY KEY CLUSTERED 
(
	[idOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProducto]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducto](
	[idProducto] [int] NOT NULL,
	[nomProducto] [varchar](50) NULL,
	[idMarca] [int] NULL,
	[idSub] [int] NULL,
 CONSTRAINT [PK_DimProducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRegion]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRegion](
	[idRegion] [int] NOT NULL,
	[nomRegion] [varchar](50) NULL,
 CONSTRAINT [PK_DimRegion] PRIMARY KEY CLUSTERED 
(
	[idRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSubCategoria]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSubCategoria](
	[idSub] [int] NOT NULL,
	[nomSub] [varchar](50) NULL,
	[idCategoria] [int] NULL,
 CONSTRAINT [PK_DimSubCategoria] PRIMARY KEY CLUSTERED 
(
	[idSub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTiempo]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTiempo](
	[idTiempo] [int] NOT NULL,
	[fecTiempo] [datetime] NULL,
	[dia] [int] NULL,
	[mes] [int] NULL,
	[anyo] [int] NULL,
	[semana] [int] NULL,
	[trimestre] [int] NULL,
	[semestre] [int] NULL,
 CONSTRAINT [PK_DimTiempo] PRIMARY KEY CLUSTERED 
(
	[idTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVendedor]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVendedor](
	[idVendedor] [int] NOT NULL,
	[nomVendedor] [varchar](50) NULL,
	[idCargo] [int] NULL,
	[idComuna] [int] NULL,
 CONSTRAINT [PK_DimVendedor] PRIMARY KEY CLUSTERED 
(
	[idVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactVentas]    Script Date: 6/1/2020 2:42:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactVentas](
	[idFactVenta] [int] NOT NULL,
	[idProducto] [int] NULL,
	[idTiempo] [int] NULL,
	[idCliente] [int] NULL,
	[idVendedor] [int] NULL,
	[idMedioPago] [int] NULL,
	[cantidadVenta] [int] NULL,
	[precioVenta] [int] NULL,
	[montoVenta] [int] NULL,
 CONSTRAINT [PK_FactVentas] PRIMARY KEY CLUSTERED 
(
	[idFactVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimCliente]  WITH CHECK ADD  CONSTRAINT [FK_DimCliente_DimComuna] FOREIGN KEY([idComuna])
REFERENCES [dbo].[DimComuna] ([idComuna])
GO
ALTER TABLE [dbo].[DimCliente] CHECK CONSTRAINT [FK_DimCliente_DimComuna]
GO
ALTER TABLE [dbo].[DimComuna]  WITH CHECK ADD  CONSTRAINT [FK_DimComuna_DimRegion] FOREIGN KEY([idRegion])
REFERENCES [dbo].[DimRegion] ([idRegion])
GO
ALTER TABLE [dbo].[DimComuna] CHECK CONSTRAINT [FK_DimComuna_DimRegion]
GO
ALTER TABLE [dbo].[DimMedioPago]  WITH CHECK ADD  CONSTRAINT [FK_DimMedioPago_DimOrigen] FOREIGN KEY([idOrigen])
REFERENCES [dbo].[DimOrigen] ([idOrigen])
GO
ALTER TABLE [dbo].[DimMedioPago] CHECK CONSTRAINT [FK_DimMedioPago_DimOrigen]
GO
ALTER TABLE [dbo].[DimProducto]  WITH CHECK ADD  CONSTRAINT [FK_DimProducto_DimMarca] FOREIGN KEY([idMarca])
REFERENCES [dbo].[DimMarca] ([idMarca])
GO
ALTER TABLE [dbo].[DimProducto] CHECK CONSTRAINT [FK_DimProducto_DimMarca]
GO
ALTER TABLE [dbo].[DimProducto]  WITH CHECK ADD  CONSTRAINT [FK_DimProducto_DimSubCategoria] FOREIGN KEY([idSub])
REFERENCES [dbo].[DimSubCategoria] ([idSub])
GO
ALTER TABLE [dbo].[DimProducto] CHECK CONSTRAINT [FK_DimProducto_DimSubCategoria]
GO
ALTER TABLE [dbo].[DimSubCategoria]  WITH CHECK ADD  CONSTRAINT [FK_DimSubCategoria_DimCategoria] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[DimCategoria] ([idCategoria])
GO
ALTER TABLE [dbo].[DimSubCategoria] CHECK CONSTRAINT [FK_DimSubCategoria_DimCategoria]
GO
ALTER TABLE [dbo].[DimVendedor]  WITH CHECK ADD  CONSTRAINT [FK_DimVendedor_DimComuna] FOREIGN KEY([idComuna])
REFERENCES [dbo].[DimComuna] ([idComuna])
GO
ALTER TABLE [dbo].[DimVendedor] CHECK CONSTRAINT [FK_DimVendedor_DimComuna]
GO
ALTER TABLE [dbo].[FactVentas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_DimCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[DimCliente] ([idCliente])
GO
ALTER TABLE [dbo].[FactVentas] CHECK CONSTRAINT [FK_FactVentas_DimCliente]
GO
ALTER TABLE [dbo].[FactVentas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_DimMedioPago] FOREIGN KEY([idMedioPago])
REFERENCES [dbo].[DimMedioPago] ([idMedioPago])
GO
ALTER TABLE [dbo].[FactVentas] CHECK CONSTRAINT [FK_FactVentas_DimMedioPago]
GO
ALTER TABLE [dbo].[FactVentas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_DimProducto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[DimProducto] ([idProducto])
GO
ALTER TABLE [dbo].[FactVentas] CHECK CONSTRAINT [FK_FactVentas_DimProducto]
GO
ALTER TABLE [dbo].[FactVentas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_DimTiempo] FOREIGN KEY([idTiempo])
REFERENCES [dbo].[DimTiempo] ([idTiempo])
GO
ALTER TABLE [dbo].[FactVentas] CHECK CONSTRAINT [FK_FactVentas_DimTiempo]
GO
ALTER TABLE [dbo].[FactVentas]  WITH CHECK ADD  CONSTRAINT [FK_FactVentas_DimVendedor] FOREIGN KEY([idVendedor])
REFERENCES [dbo].[DimVendedor] ([idVendedor])
GO
ALTER TABLE [dbo].[FactVentas] CHECK CONSTRAINT [FK_FactVentas_DimVendedor]
GO
USE [master]
GO
