USE [master]
GO
/****** Object:  Database [DWB_MDW_ESTRELLA]    Script Date: 15/06/2020 12:41:05 ******/
CREATE DATABASE [DWB_MDW_ESTRELLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWB_MD_ESTRELLA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DWB_MD_ESTRELLA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWB_MD_ESTRELLA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DWB_MD_ESTRELLA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWB_MDW_ESTRELLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWB_MDW_ESTRELLA]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 15/06/2020 12:41:06 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[DimCliente]    Script Date: 15/06/2020 12:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCliente](
	[idCliente] [int] NOT NULL,
	[nomCliente] [varchar](50) NULL,
	[apeCliente] [varchar](50) NULL,
	[emailCliente] [varchar](50) NULL,
	[dirCliente] [varchar](100) NULL,
	[comunaCliente] [varchar](50) NULL,
	[regionCliente] [varchar](50) NULL,
 CONSTRAINT [PK_DimCliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimEmpleado]    Script Date: 15/06/2020 12:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmpleado](
	[idEmpleado] [int] NOT NULL,
	[nomEmpleado] [varchar](50) NULL,
	[apeEmpleado] [varchar](50) NULL,
	[cargoEmpleado] [varchar](50) NULL,
	[comunaEmpleado] [varchar](50) NULL,
	[regionEmpleado] [varchar](50) NULL,
 CONSTRAINT [PK_DimEmpleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMedioPago]    Script Date: 15/06/2020 12:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMedioPago](
	[idPago] [int] NOT NULL,
	[nomPago] [varchar](50) NULL,
	[origenPago] [varchar](50) NULL,
 CONSTRAINT [PK_DimMedioPago] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProducto]    Script Date: 15/06/2020 12:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducto](
	[idProducto] [int] NOT NULL,
	[nomProducto] [varchar](50) NULL,
	[nomMarca] [varchar](50) NULL,
	[nomSub] [varchar](50) NULL,
	[nomCategoria] [varchar](50) NULL,
 CONSTRAINT [PK_DimProducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTiempo]    Script Date: 15/06/2020 12:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTiempo](
	[idTiempo] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[diaSemana] [int] NULL,
	[diaMes] [int] NULL,
	[diaAnyo] [int] NULL,
	[semanaAnyo] [int] NULL,
	[mes] [int] NULL,
	[trimestre] [int] NULL,
	[semestre] [int] NULL,
	[anyo] [nchar](10) NULL,
 CONSTRAINT [PK_DimTiempo] PRIMARY KEY CLUSTERED 
(
	[idTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HechoVentas]    Script Date: 15/06/2020 12:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HechoVentas](
	[idHecho] [int] NOT NULL,
	[idVenta] [int] NULL,
	[idTiempo] [int] NULL,
	[idProducto] [int] NULL,
	[idCliente] [int] NULL,
	[idEmpleado] [int] NULL,
	[idPago] [int] NULL,
	[cantVenta] [int] NULL,
	[precioVenta] [int] NULL,
	[monto] [int] NULL,
 CONSTRAINT [PK_HechoVentas] PRIMARY KEY CLUSTERED 
(
	[idHecho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HechoVentas]  WITH CHECK ADD  CONSTRAINT [FK_HechoVentas_DimCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[DimCliente] ([idCliente])
GO
ALTER TABLE [dbo].[HechoVentas] CHECK CONSTRAINT [FK_HechoVentas_DimCliente]
GO
ALTER TABLE [dbo].[HechoVentas]  WITH CHECK ADD  CONSTRAINT [FK_HechoVentas_DimEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[DimEmpleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[HechoVentas] CHECK CONSTRAINT [FK_HechoVentas_DimEmpleado]
GO
ALTER TABLE [dbo].[HechoVentas]  WITH CHECK ADD  CONSTRAINT [FK_HechoVentas_DimMedioPago] FOREIGN KEY([idPago])
REFERENCES [dbo].[DimMedioPago] ([idPago])
GO
ALTER TABLE [dbo].[HechoVentas] CHECK CONSTRAINT [FK_HechoVentas_DimMedioPago]
GO
ALTER TABLE [dbo].[HechoVentas]  WITH CHECK ADD  CONSTRAINT [FK_HechoVentas_DimProducto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[DimProducto] ([idProducto])
GO
ALTER TABLE [dbo].[HechoVentas] CHECK CONSTRAINT [FK_HechoVentas_DimProducto]
GO
ALTER TABLE [dbo].[HechoVentas]  WITH CHECK ADD  CONSTRAINT [FK_HechoVentas_DimTiempo] FOREIGN KEY([idTiempo])
REFERENCES [dbo].[DimTiempo] ([idTiempo])
GO
ALTER TABLE [dbo].[HechoVentas] CHECK CONSTRAINT [FK_HechoVentas_DimTiempo]
GO
USE [master]
GO
